/*
 * Infusionsoft REST API
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: V1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.infusionsoft.api;

import com.infusionsoft.ApiCallback;
import com.infusionsoft.ApiClient;
import com.infusionsoft.ApiException;
import com.infusionsoft.ApiResponse;
import com.infusionsoft.Configuration;
import com.infusionsoft.Pair;
import com.infusionsoft.ProgressRequestBody;
import com.infusionsoft.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.infusionsoft.model.InfusionsoftCreateOrder;
import com.infusionsoft.model.InfusionsoftCreateOrderItem;
import com.infusionsoft.model.InfusionsoftCreatePayment;
import com.infusionsoft.model.InfusionsoftError;
import com.infusionsoft.model.InfusionsoftObjectModel;
import com.infusionsoft.model.InfusionsoftOrder;
import com.infusionsoft.model.InfusionsoftOrderItem;
import com.infusionsoft.model.InfusionsoftOrderList;
import com.infusionsoft.model.InfusionsoftPaymentPlan;
import com.infusionsoft.model.InfusionsoftPaymentResult;
import com.infusionsoft.model.InfusionsoftTransaction;
import com.infusionsoft.model.InfusionsoftTransactionList;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ECommerceApi {
    private ApiClient apiClient;

    public ECommerceApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ECommerceApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createOrderItemsOnOrderUsingPOST
     * @param createOrderItem createOrderItem (required)
     * @param orderId orderId (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createOrderItemsOnOrderUsingPOSTCall(InfusionsoftCreateOrderItem createOrderItem, Long orderId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = createOrderItem;

        // create path and map variables
        String localVarPath = "/orders/{orderId}/items"
            .replaceAll("\\{" + "orderId" + "\\}", apiClient.escapeString(orderId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createOrderItemsOnOrderUsingPOSTValidateBeforeCall(InfusionsoftCreateOrderItem createOrderItem, Long orderId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'createOrderItem' is set
        if (createOrderItem == null) {
            throw new ApiException("Missing the required parameter 'createOrderItem' when calling createOrderItemsOnOrderUsingPOST(Async)");
        }
        
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling createOrderItemsOnOrderUsingPOST(Async)");
        }
        

        com.squareup.okhttp.Call call = createOrderItemsOnOrderUsingPOSTCall(createOrderItem, orderId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create an Order Item
     * Creates an order item on an existing order.
     * @param createOrderItem createOrderItem (required)
     * @param orderId orderId (required)
     * @return InfusionsoftOrderItem
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InfusionsoftOrderItem createOrderItemsOnOrderUsingPOST(InfusionsoftCreateOrderItem createOrderItem, Long orderId) throws ApiException {
        ApiResponse<InfusionsoftOrderItem> resp = createOrderItemsOnOrderUsingPOSTWithHttpInfo(createOrderItem, orderId);
        return resp.getData();
    }

    /**
     * Create an Order Item
     * Creates an order item on an existing order.
     * @param createOrderItem createOrderItem (required)
     * @param orderId orderId (required)
     * @return ApiResponse&lt;InfusionsoftOrderItem&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InfusionsoftOrderItem> createOrderItemsOnOrderUsingPOSTWithHttpInfo(InfusionsoftCreateOrderItem createOrderItem, Long orderId) throws ApiException {
        com.squareup.okhttp.Call call = createOrderItemsOnOrderUsingPOSTValidateBeforeCall(createOrderItem, orderId, null, null);
        Type localVarReturnType = new TypeToken<InfusionsoftOrderItem>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create an Order Item (asynchronously)
     * Creates an order item on an existing order.
     * @param createOrderItem createOrderItem (required)
     * @param orderId orderId (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createOrderItemsOnOrderUsingPOSTAsync(InfusionsoftCreateOrderItem createOrderItem, Long orderId, final ApiCallback<InfusionsoftOrderItem> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createOrderItemsOnOrderUsingPOSTValidateBeforeCall(createOrderItem, orderId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InfusionsoftOrderItem>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createOrderUsingPOST
     * @param createOrder createOrder (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createOrderUsingPOSTCall(InfusionsoftCreateOrder createOrder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = createOrder;

        // create path and map variables
        String localVarPath = "/orders";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createOrderUsingPOSTValidateBeforeCall(InfusionsoftCreateOrder createOrder, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'createOrder' is set
        if (createOrder == null) {
            throw new ApiException("Missing the required parameter 'createOrder' when calling createOrderUsingPOST(Async)");
        }
        

        com.squareup.okhttp.Call call = createOrderUsingPOSTCall(createOrder, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create an Order
     * Create a one time order with order items.
     * @param createOrder createOrder (required)
     * @return InfusionsoftOrder
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InfusionsoftOrder createOrderUsingPOST(InfusionsoftCreateOrder createOrder) throws ApiException {
        ApiResponse<InfusionsoftOrder> resp = createOrderUsingPOSTWithHttpInfo(createOrder);
        return resp.getData();
    }

    /**
     * Create an Order
     * Create a one time order with order items.
     * @param createOrder createOrder (required)
     * @return ApiResponse&lt;InfusionsoftOrder&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InfusionsoftOrder> createOrderUsingPOSTWithHttpInfo(InfusionsoftCreateOrder createOrder) throws ApiException {
        com.squareup.okhttp.Call call = createOrderUsingPOSTValidateBeforeCall(createOrder, null, null);
        Type localVarReturnType = new TypeToken<InfusionsoftOrder>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create an Order (asynchronously)
     * Create a one time order with order items.
     * @param createOrder createOrder (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createOrderUsingPOSTAsync(InfusionsoftCreateOrder createOrder, final ApiCallback<InfusionsoftOrder> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createOrderUsingPOSTValidateBeforeCall(createOrder, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InfusionsoftOrder>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createPaymentOnOrderUsingPOST
     * @param orderId orderId (required)
     * @param createPayment createPayment (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createPaymentOnOrderUsingPOSTCall(Long orderId, InfusionsoftCreatePayment createPayment, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = createPayment;

        // create path and map variables
        String localVarPath = "/orders/{orderId}/payments"
            .replaceAll("\\{" + "orderId" + "\\}", apiClient.escapeString(orderId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createPaymentOnOrderUsingPOSTValidateBeforeCall(Long orderId, InfusionsoftCreatePayment createPayment, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling createPaymentOnOrderUsingPOST(Async)");
        }
        

        com.squareup.okhttp.Call call = createPaymentOnOrderUsingPOSTCall(orderId, createPayment, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create a Payment
     * Creates a payment record that can charge a credit card. Alternatively, adds a record of historical or external payment of cash or credit card.
     * @param orderId orderId (required)
     * @param createPayment createPayment (optional)
     * @return InfusionsoftPaymentResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InfusionsoftPaymentResult createPaymentOnOrderUsingPOST(Long orderId, InfusionsoftCreatePayment createPayment) throws ApiException {
        ApiResponse<InfusionsoftPaymentResult> resp = createPaymentOnOrderUsingPOSTWithHttpInfo(orderId, createPayment);
        return resp.getData();
    }

    /**
     * Create a Payment
     * Creates a payment record that can charge a credit card. Alternatively, adds a record of historical or external payment of cash or credit card.
     * @param orderId orderId (required)
     * @param createPayment createPayment (optional)
     * @return ApiResponse&lt;InfusionsoftPaymentResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InfusionsoftPaymentResult> createPaymentOnOrderUsingPOSTWithHttpInfo(Long orderId, InfusionsoftCreatePayment createPayment) throws ApiException {
        com.squareup.okhttp.Call call = createPaymentOnOrderUsingPOSTValidateBeforeCall(orderId, createPayment, null, null);
        Type localVarReturnType = new TypeToken<InfusionsoftPaymentResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a Payment (asynchronously)
     * Creates a payment record that can charge a credit card. Alternatively, adds a record of historical or external payment of cash or credit card.
     * @param orderId orderId (required)
     * @param createPayment createPayment (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createPaymentOnOrderUsingPOSTAsync(Long orderId, InfusionsoftCreatePayment createPayment, final ApiCallback<InfusionsoftPaymentResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createPaymentOnOrderUsingPOSTValidateBeforeCall(orderId, createPayment, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InfusionsoftPaymentResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteOrderOrderItemUsingDELETE
     * @param orderId orderId (required)
     * @param orderItemId orderItemId (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteOrderOrderItemUsingDELETECall(Long orderId, Long orderItemId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/orders/{orderId}/items/{orderItemId}"
            .replaceAll("\\{" + "orderId" + "\\}", apiClient.escapeString(orderId.toString()))
            .replaceAll("\\{" + "orderItemId" + "\\}", apiClient.escapeString(orderItemId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteOrderOrderItemUsingDELETEValidateBeforeCall(Long orderId, Long orderItemId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling deleteOrderOrderItemUsingDELETE(Async)");
        }
        
        // verify the required parameter 'orderItemId' is set
        if (orderItemId == null) {
            throw new ApiException("Missing the required parameter 'orderItemId' when calling deleteOrderOrderItemUsingDELETE(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteOrderOrderItemUsingDELETECall(orderId, orderItemId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete an Order Item
     * Delete an order Item on specified Order
     * @param orderId orderId (required)
     * @param orderItemId orderItemId (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteOrderOrderItemUsingDELETE(Long orderId, Long orderItemId) throws ApiException {
        deleteOrderOrderItemUsingDELETEWithHttpInfo(orderId, orderItemId);
    }

    /**
     * Delete an Order Item
     * Delete an order Item on specified Order
     * @param orderId orderId (required)
     * @param orderItemId orderItemId (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteOrderOrderItemUsingDELETEWithHttpInfo(Long orderId, Long orderItemId) throws ApiException {
        com.squareup.okhttp.Call call = deleteOrderOrderItemUsingDELETEValidateBeforeCall(orderId, orderItemId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete an Order Item (asynchronously)
     * Delete an order Item on specified Order
     * @param orderId orderId (required)
     * @param orderItemId orderItemId (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteOrderOrderItemUsingDELETEAsync(Long orderId, Long orderItemId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteOrderOrderItemUsingDELETEValidateBeforeCall(orderId, orderItemId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteOrderUsingDELETE
     * @param orderId orderId (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteOrderUsingDELETECall(Long orderId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/orders/{orderId}"
            .replaceAll("\\{" + "orderId" + "\\}", apiClient.escapeString(orderId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteOrderUsingDELETEValidateBeforeCall(Long orderId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling deleteOrderUsingDELETE(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteOrderUsingDELETECall(orderId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete an Order
     * Delete an order that does not have a payment
     * @param orderId orderId (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteOrderUsingDELETE(Long orderId) throws ApiException {
        deleteOrderUsingDELETEWithHttpInfo(orderId);
    }

    /**
     * Delete an Order
     * Delete an order that does not have a payment
     * @param orderId orderId (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteOrderUsingDELETEWithHttpInfo(Long orderId) throws ApiException {
        com.squareup.okhttp.Call call = deleteOrderUsingDELETEValidateBeforeCall(orderId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete an Order (asynchronously)
     * Delete an order that does not have a payment
     * @param orderId orderId (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteOrderUsingDELETEAsync(Long orderId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteOrderUsingDELETEValidateBeforeCall(orderId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getOrderUsingGET
     * @param orderId orderId (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getOrderUsingGETCall(Long orderId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/orders/{orderId}"
            .replaceAll("\\{" + "orderId" + "\\}", apiClient.escapeString(orderId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getOrderUsingGETValidateBeforeCall(Long orderId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling getOrderUsingGET(Async)");
        }
        

        com.squareup.okhttp.Call call = getOrderUsingGETCall(orderId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieve an Order
     * Retrieves a single order. The order may or may not have items.
     * @param orderId orderId (required)
     * @return InfusionsoftOrder
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InfusionsoftOrder getOrderUsingGET(Long orderId) throws ApiException {
        ApiResponse<InfusionsoftOrder> resp = getOrderUsingGETWithHttpInfo(orderId);
        return resp.getData();
    }

    /**
     * Retrieve an Order
     * Retrieves a single order. The order may or may not have items.
     * @param orderId orderId (required)
     * @return ApiResponse&lt;InfusionsoftOrder&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InfusionsoftOrder> getOrderUsingGETWithHttpInfo(Long orderId) throws ApiException {
        com.squareup.okhttp.Call call = getOrderUsingGETValidateBeforeCall(orderId, null, null);
        Type localVarReturnType = new TypeToken<InfusionsoftOrder>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve an Order (asynchronously)
     * Retrieves a single order. The order may or may not have items.
     * @param orderId orderId (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getOrderUsingGETAsync(Long orderId, final ApiCallback<InfusionsoftOrder> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getOrderUsingGETValidateBeforeCall(orderId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InfusionsoftOrder>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getTransactionUsingGET
     * @param transactionId transactionId (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getTransactionUsingGETCall(Long transactionId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/transactions/{transactionId}"
            .replaceAll("\\{" + "transactionId" + "\\}", apiClient.escapeString(transactionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getTransactionUsingGETValidateBeforeCall(Long transactionId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'transactionId' is set
        if (transactionId == null) {
            throw new ApiException("Missing the required parameter 'transactionId' when calling getTransactionUsingGET(Async)");
        }
        

        com.squareup.okhttp.Call call = getTransactionUsingGETCall(transactionId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieve a Transaction
     * Retrieves a single transaction
     * @param transactionId transactionId (required)
     * @return InfusionsoftTransaction
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InfusionsoftTransaction getTransactionUsingGET(Long transactionId) throws ApiException {
        ApiResponse<InfusionsoftTransaction> resp = getTransactionUsingGETWithHttpInfo(transactionId);
        return resp.getData();
    }

    /**
     * Retrieve a Transaction
     * Retrieves a single transaction
     * @param transactionId transactionId (required)
     * @return ApiResponse&lt;InfusionsoftTransaction&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InfusionsoftTransaction> getTransactionUsingGETWithHttpInfo(Long transactionId) throws ApiException {
        com.squareup.okhttp.Call call = getTransactionUsingGETValidateBeforeCall(transactionId, null, null);
        Type localVarReturnType = new TypeToken<InfusionsoftTransaction>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve a Transaction (asynchronously)
     * Retrieves a single transaction
     * @param transactionId transactionId (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getTransactionUsingGETAsync(Long transactionId, final ApiCallback<InfusionsoftTransaction> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getTransactionUsingGETValidateBeforeCall(transactionId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InfusionsoftTransaction>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for listOrdersUsingGET
     * @param since Date to start searching from ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param until Date to search to ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param limit Sets a total of items to return (optional)
     * @param offset Sets a beginning range of items to return (optional)
     * @param paid Sets paid status of items to return (optional)
     * @param order Attribute to order items by (optional)
     * @param contactId Returns orders for the provided contact id (optional)
     * @param productId Returns orders containing the provided product id (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listOrdersUsingGETCall(String since, String until, Integer limit, Integer offset, Boolean paid, String order, Long contactId, Long productId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/orders";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (since != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("since", since));
        if (until != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("until", until));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (paid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("paid", paid));
        if (order != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("order", order));
        if (contactId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("contact_id", contactId));
        if (productId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("product_id", productId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listOrdersUsingGETValidateBeforeCall(String since, String until, Integer limit, Integer offset, Boolean paid, String order, Long contactId, Long productId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = listOrdersUsingGETCall(since, until, limit, offset, paid, order, contactId, productId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * List Orders
     * Retrieves a list of all orders using the specified search criteria. Each order may or may not have items.
     * @param since Date to start searching from ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param until Date to search to ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param limit Sets a total of items to return (optional)
     * @param offset Sets a beginning range of items to return (optional)
     * @param paid Sets paid status of items to return (optional)
     * @param order Attribute to order items by (optional)
     * @param contactId Returns orders for the provided contact id (optional)
     * @param productId Returns orders containing the provided product id (optional)
     * @return InfusionsoftOrderList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InfusionsoftOrderList listOrdersUsingGET(String since, String until, Integer limit, Integer offset, Boolean paid, String order, Long contactId, Long productId) throws ApiException {
        ApiResponse<InfusionsoftOrderList> resp = listOrdersUsingGETWithHttpInfo(since, until, limit, offset, paid, order, contactId, productId);
        return resp.getData();
    }

    /**
     * List Orders
     * Retrieves a list of all orders using the specified search criteria. Each order may or may not have items.
     * @param since Date to start searching from ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param until Date to search to ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param limit Sets a total of items to return (optional)
     * @param offset Sets a beginning range of items to return (optional)
     * @param paid Sets paid status of items to return (optional)
     * @param order Attribute to order items by (optional)
     * @param contactId Returns orders for the provided contact id (optional)
     * @param productId Returns orders containing the provided product id (optional)
     * @return ApiResponse&lt;InfusionsoftOrderList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InfusionsoftOrderList> listOrdersUsingGETWithHttpInfo(String since, String until, Integer limit, Integer offset, Boolean paid, String order, Long contactId, Long productId) throws ApiException {
        com.squareup.okhttp.Call call = listOrdersUsingGETValidateBeforeCall(since, until, limit, offset, paid, order, contactId, productId, null, null);
        Type localVarReturnType = new TypeToken<InfusionsoftOrderList>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * List Orders (asynchronously)
     * Retrieves a list of all orders using the specified search criteria. Each order may or may not have items.
     * @param since Date to start searching from ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param until Date to search to ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param limit Sets a total of items to return (optional)
     * @param offset Sets a beginning range of items to return (optional)
     * @param paid Sets paid status of items to return (optional)
     * @param order Attribute to order items by (optional)
     * @param contactId Returns orders for the provided contact id (optional)
     * @param productId Returns orders containing the provided product id (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listOrdersUsingGETAsync(String since, String until, Integer limit, Integer offset, Boolean paid, String order, Long contactId, Long productId, final ApiCallback<InfusionsoftOrderList> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listOrdersUsingGETValidateBeforeCall(since, until, limit, offset, paid, order, contactId, productId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InfusionsoftOrderList>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for listTransactionsForOrderUsingGET
     * @param orderId orderId (required)
     * @param since Date to start searching from ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param until Date to search to ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param limit Sets a total of items to return (optional)
     * @param offset Sets a beginning range of items to return (optional)
     * @param contactId Returns transactions for the provided contact id (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listTransactionsForOrderUsingGETCall(Long orderId, String since, String until, Integer limit, Integer offset, Long contactId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/orders/{orderId}/transactions"
            .replaceAll("\\{" + "orderId" + "\\}", apiClient.escapeString(orderId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (since != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("since", since));
        if (until != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("until", until));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (contactId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("contact_id", contactId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listTransactionsForOrderUsingGETValidateBeforeCall(Long orderId, String since, String until, Integer limit, Integer offset, Long contactId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling listTransactionsForOrderUsingGET(Async)");
        }
        

        com.squareup.okhttp.Call call = listTransactionsForOrderUsingGETCall(orderId, since, until, limit, offset, contactId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieve Order Transactions
     * Retrieves a list of all transactions on a given order using the specified search criteria
     * @param orderId orderId (required)
     * @param since Date to start searching from ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param until Date to search to ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param limit Sets a total of items to return (optional)
     * @param offset Sets a beginning range of items to return (optional)
     * @param contactId Returns transactions for the provided contact id (optional)
     * @return InfusionsoftTransactionList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InfusionsoftTransactionList listTransactionsForOrderUsingGET(Long orderId, String since, String until, Integer limit, Integer offset, Long contactId) throws ApiException {
        ApiResponse<InfusionsoftTransactionList> resp = listTransactionsForOrderUsingGETWithHttpInfo(orderId, since, until, limit, offset, contactId);
        return resp.getData();
    }

    /**
     * Retrieve Order Transactions
     * Retrieves a list of all transactions on a given order using the specified search criteria
     * @param orderId orderId (required)
     * @param since Date to start searching from ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param until Date to search to ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param limit Sets a total of items to return (optional)
     * @param offset Sets a beginning range of items to return (optional)
     * @param contactId Returns transactions for the provided contact id (optional)
     * @return ApiResponse&lt;InfusionsoftTransactionList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InfusionsoftTransactionList> listTransactionsForOrderUsingGETWithHttpInfo(Long orderId, String since, String until, Integer limit, Integer offset, Long contactId) throws ApiException {
        com.squareup.okhttp.Call call = listTransactionsForOrderUsingGETValidateBeforeCall(orderId, since, until, limit, offset, contactId, null, null);
        Type localVarReturnType = new TypeToken<InfusionsoftTransactionList>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve Order Transactions (asynchronously)
     * Retrieves a list of all transactions on a given order using the specified search criteria
     * @param orderId orderId (required)
     * @param since Date to start searching from ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param until Date to search to ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param limit Sets a total of items to return (optional)
     * @param offset Sets a beginning range of items to return (optional)
     * @param contactId Returns transactions for the provided contact id (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listTransactionsForOrderUsingGETAsync(Long orderId, String since, String until, Integer limit, Integer offset, Long contactId, final ApiCallback<InfusionsoftTransactionList> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listTransactionsForOrderUsingGETValidateBeforeCall(orderId, since, until, limit, offset, contactId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InfusionsoftTransactionList>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for listTransactionsUsingGET
     * @param since Date to start searching from ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param until Date to search to ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param limit Sets a total of items to return (optional)
     * @param offset Sets a beginning range of items to return (optional)
     * @param contactId Returns transactions for the provided contact id (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listTransactionsUsingGETCall(String since, String until, Integer limit, Integer offset, Long contactId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/transactions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (since != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("since", since));
        if (until != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("until", until));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (contactId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("contact_id", contactId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listTransactionsUsingGETValidateBeforeCall(String since, String until, Integer limit, Integer offset, Long contactId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = listTransactionsUsingGETCall(since, until, limit, offset, contactId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * List Transactions
     * Retrieves a list transactions for a given contact
     * @param since Date to start searching from ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param until Date to search to ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param limit Sets a total of items to return (optional)
     * @param offset Sets a beginning range of items to return (optional)
     * @param contactId Returns transactions for the provided contact id (optional)
     * @return InfusionsoftTransactionList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InfusionsoftTransactionList listTransactionsUsingGET(String since, String until, Integer limit, Integer offset, Long contactId) throws ApiException {
        ApiResponse<InfusionsoftTransactionList> resp = listTransactionsUsingGETWithHttpInfo(since, until, limit, offset, contactId);
        return resp.getData();
    }

    /**
     * List Transactions
     * Retrieves a list transactions for a given contact
     * @param since Date to start searching from ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param until Date to search to ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param limit Sets a total of items to return (optional)
     * @param offset Sets a beginning range of items to return (optional)
     * @param contactId Returns transactions for the provided contact id (optional)
     * @return ApiResponse&lt;InfusionsoftTransactionList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InfusionsoftTransactionList> listTransactionsUsingGETWithHttpInfo(String since, String until, Integer limit, Integer offset, Long contactId) throws ApiException {
        com.squareup.okhttp.Call call = listTransactionsUsingGETValidateBeforeCall(since, until, limit, offset, contactId, null, null);
        Type localVarReturnType = new TypeToken<InfusionsoftTransactionList>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * List Transactions (asynchronously)
     * Retrieves a list transactions for a given contact
     * @param since Date to start searching from ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param until Date to search to ex. &#x60;2017-01-01T22:17:59.039Z&#x60; (optional)
     * @param limit Sets a total of items to return (optional)
     * @param offset Sets a beginning range of items to return (optional)
     * @param contactId Returns transactions for the provided contact id (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listTransactionsUsingGETAsync(String since, String until, Integer limit, Integer offset, Long contactId, final ApiCallback<InfusionsoftTransactionList> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listTransactionsUsingGETValidateBeforeCall(since, until, limit, offset, contactId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InfusionsoftTransactionList>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for replacePaymentPlanUsingPUT
     * @param orderId orderId (required)
     * @param paymentPlan paymentPlan (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call replacePaymentPlanUsingPUTCall(Long orderId, InfusionsoftPaymentPlan paymentPlan, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = paymentPlan;

        // create path and map variables
        String localVarPath = "/orders/{orderId}/paymentPlan"
            .replaceAll("\\{" + "orderId" + "\\}", apiClient.escapeString(orderId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call replacePaymentPlanUsingPUTValidateBeforeCall(Long orderId, InfusionsoftPaymentPlan paymentPlan, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling replacePaymentPlanUsingPUT(Async)");
        }
        
        // verify the required parameter 'paymentPlan' is set
        if (paymentPlan == null) {
            throw new ApiException("Missing the required parameter 'paymentPlan' when calling replacePaymentPlanUsingPUT(Async)");
        }
        

        com.squareup.okhttp.Call call = replacePaymentPlanUsingPUTCall(orderId, paymentPlan, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Replace an Order Pay Plan
     * Replaces the order&#39;s payment plan with the given values.
     * @param orderId orderId (required)
     * @param paymentPlan paymentPlan (required)
     * @return InfusionsoftPaymentPlan
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InfusionsoftPaymentPlan replacePaymentPlanUsingPUT(Long orderId, InfusionsoftPaymentPlan paymentPlan) throws ApiException {
        ApiResponse<InfusionsoftPaymentPlan> resp = replacePaymentPlanUsingPUTWithHttpInfo(orderId, paymentPlan);
        return resp.getData();
    }

    /**
     * Replace an Order Pay Plan
     * Replaces the order&#39;s payment plan with the given values.
     * @param orderId orderId (required)
     * @param paymentPlan paymentPlan (required)
     * @return ApiResponse&lt;InfusionsoftPaymentPlan&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InfusionsoftPaymentPlan> replacePaymentPlanUsingPUTWithHttpInfo(Long orderId, InfusionsoftPaymentPlan paymentPlan) throws ApiException {
        com.squareup.okhttp.Call call = replacePaymentPlanUsingPUTValidateBeforeCall(orderId, paymentPlan, null, null);
        Type localVarReturnType = new TypeToken<InfusionsoftPaymentPlan>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Replace an Order Pay Plan (asynchronously)
     * Replaces the order&#39;s payment plan with the given values.
     * @param orderId orderId (required)
     * @param paymentPlan paymentPlan (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call replacePaymentPlanUsingPUTAsync(Long orderId, InfusionsoftPaymentPlan paymentPlan, final ApiCallback<InfusionsoftPaymentPlan> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = replacePaymentPlanUsingPUTValidateBeforeCall(orderId, paymentPlan, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InfusionsoftPaymentPlan>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for retrieveOrderModelUsingGET
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call retrieveOrderModelUsingGETCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/orders/model";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call retrieveOrderModelUsingGETValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = retrieveOrderModelUsingGETCall(progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieve Custom Order Model
     * Get the custom fields for the Order object
     * @return InfusionsoftObjectModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InfusionsoftObjectModel retrieveOrderModelUsingGET() throws ApiException {
        ApiResponse<InfusionsoftObjectModel> resp = retrieveOrderModelUsingGETWithHttpInfo();
        return resp.getData();
    }

    /**
     * Retrieve Custom Order Model
     * Get the custom fields for the Order object
     * @return ApiResponse&lt;InfusionsoftObjectModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InfusionsoftObjectModel> retrieveOrderModelUsingGETWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = retrieveOrderModelUsingGETValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<InfusionsoftObjectModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve Custom Order Model (asynchronously)
     * Get the custom fields for the Order object
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call retrieveOrderModelUsingGETAsync(final ApiCallback<InfusionsoftObjectModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = retrieveOrderModelUsingGETValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InfusionsoftObjectModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for retrieveSubscriptionModelUsingGET
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call retrieveSubscriptionModelUsingGETCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/subscriptions/model";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call retrieveSubscriptionModelUsingGETValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = retrieveSubscriptionModelUsingGETCall(progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieve Subscription Model
     * Get the custom fields for the Subscription object
     * @return InfusionsoftObjectModel
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InfusionsoftObjectModel retrieveSubscriptionModelUsingGET() throws ApiException {
        ApiResponse<InfusionsoftObjectModel> resp = retrieveSubscriptionModelUsingGETWithHttpInfo();
        return resp.getData();
    }

    /**
     * Retrieve Subscription Model
     * Get the custom fields for the Subscription object
     * @return ApiResponse&lt;InfusionsoftObjectModel&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InfusionsoftObjectModel> retrieveSubscriptionModelUsingGETWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = retrieveSubscriptionModelUsingGETValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<InfusionsoftObjectModel>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve Subscription Model (asynchronously)
     * Get the custom fields for the Subscription object
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call retrieveSubscriptionModelUsingGETAsync(final ApiCallback<InfusionsoftObjectModel> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = retrieveSubscriptionModelUsingGETValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InfusionsoftObjectModel>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
