/*
 * Infusionsoft REST API
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: V1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.infusionsoft.api;

import com.infusionsoft.ApiCallback;
import com.infusionsoft.ApiClient;
import com.infusionsoft.ApiException;
import com.infusionsoft.ApiResponse;
import com.infusionsoft.Configuration;
import com.infusionsoft.Pair;
import com.infusionsoft.ProgressRequestBody;
import com.infusionsoft.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.infusionsoft.model.InfusionsoftError;
import com.infusionsoft.model.InfusionsoftRestEmailAddress;
import com.infusionsoft.model.InfusionsoftUpdateEmailAddress;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class EmailAddressApi {
    private ApiClient apiClient;

    public EmailAddressApi() {
        this(Configuration.getDefaultApiClient());
    }

    public EmailAddressApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for replaceEmailAddressUsingPUT
     * @param email email (required)
     * @param update update (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call replaceEmailAddressUsingPUTCall(String email, InfusionsoftUpdateEmailAddress update, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = update;

        // create path and map variables
        String localVarPath = "/emailAddresses/{email}"
            .replaceAll("\\{" + "email" + "\\}", apiClient.escapeString(email.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call replaceEmailAddressUsingPUTValidateBeforeCall(String email, InfusionsoftUpdateEmailAddress update, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'email' is set
        if (email == null) {
            throw new ApiException("Missing the required parameter 'email' when calling replaceEmailAddressUsingPUT(Async)");
        }
        
        // verify the required parameter 'update' is set
        if (update == null) {
            throw new ApiException("Missing the required parameter 'update' when calling replaceEmailAddressUsingPUT(Async)");
        }
        

        com.squareup.okhttp.Call call = replaceEmailAddressUsingPUTCall(email, update, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Replace an Email Address
     * Replaces all of the values of a given email address
     * @param email email (required)
     * @param update update (required)
     * @return InfusionsoftRestEmailAddress
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InfusionsoftRestEmailAddress replaceEmailAddressUsingPUT(String email, InfusionsoftUpdateEmailAddress update) throws ApiException {
        ApiResponse<InfusionsoftRestEmailAddress> resp = replaceEmailAddressUsingPUTWithHttpInfo(email, update);
        return resp.getData();
    }

    /**
     * Replace an Email Address
     * Replaces all of the values of a given email address
     * @param email email (required)
     * @param update update (required)
     * @return ApiResponse&lt;InfusionsoftRestEmailAddress&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InfusionsoftRestEmailAddress> replaceEmailAddressUsingPUTWithHttpInfo(String email, InfusionsoftUpdateEmailAddress update) throws ApiException {
        com.squareup.okhttp.Call call = replaceEmailAddressUsingPUTValidateBeforeCall(email, update, null, null);
        Type localVarReturnType = new TypeToken<InfusionsoftRestEmailAddress>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Replace an Email Address (asynchronously)
     * Replaces all of the values of a given email address
     * @param email email (required)
     * @param update update (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call replaceEmailAddressUsingPUTAsync(String email, InfusionsoftUpdateEmailAddress update, final ApiCallback<InfusionsoftRestEmailAddress> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = replaceEmailAddressUsingPUTValidateBeforeCall(email, update, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InfusionsoftRestEmailAddress>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
